.hidden {
    display: none;
    visibility: hidden;
}


#calendarSelector {
    max-width: 250px;
}

#displayWeek {
    max-width:250px;
    text-align: right;
}

#thirdColumn {
    max-height: 250px;
    flex-wrap: wrap;
    
}