.hidden {
    display: none;
    visibility: hidden;
}


#calendarSelector {
    max-width: 250px;
}

#displayWeek {
    
    text-align: right;
}

#thirdColumn {
    max-height: 250px;
    flex-wrap: wrap;
    
}

.week {
    min-width: 150px;
    max-width: 200px;
}

